
    <!--this is first section to be blank because page partition have to work  -->
    <section class="firstBlanArea"></section>
    <section id="user-actions " class="userActions">
        <a href="/" class="is-medium">main page</a><br>
        <a href="#">discover</a><br>
        <a href="#">profile</a><br>
        <a href="#" id="logout">logout</a><br>
    </section>

    <section id="comment-Section " class="tweetAndTimeline" >

        <div id="comment-box">

        </div>
  
<div id="timeline">

</div>




    </section>






    <section id="suggested-users " class="suggestedUsers" style="margin-left: 30px;">
        <a>suggested users</a>
    </section>
<!-- this is last section to be blank because page partition have to work   -->
    <section class="lastBlankArea"></section>



    <script src="../../scripts/commentPage.js"></script>
