
    <!--this is first section to be blank because page partition have to work  -->
    <section class="firstBlanArea"></section>
    <section id="userActions" class="userActions">
        <a href="/" class="is-medium">main page</a><br>
        <a href="#" id="userProfile">profile</a><br>
        <a href="#" id="showNotification">notifications</a><br>
        <a href="/messaging" >messages</a><br>
        <div hidden = "true" id="notifications">
           
           </div>
        <a href="#" id="logout">logout</a><br>
        
    </section>
    
    <section id="tweet-section " class="tweetAndTimeline" >
        <a href="" class="mainPageHref">discover Jitters</a> 
        <a  class="followersTweetHref" id="followedUserJitters">followed users tweet</a>
        <div id="tweet-box">
            <textarea class="textarea" id="tweet" placeholder="everything can be discussed"></textarea>
            <button class="button" id="sendTweetButton">publish jitter</button>
        </div>
<div id="timeline">

</div>

    </section>

    <section id="suggested-users" class="suggestedUsers" style="margin-left: 30px;">
        <a>suggested users</a>

    </section>
<!-- this is last section to be blank because page partition have to work   -->
    <section class="lastBlankArea"></section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="../../scripts/getUserToken.js"></script>
    <script src="../../scripts/mainPage.js"></script>


