<section id="user-actions " class="userActions">
        <a href="/" class="is-medium">main page</a><br>
        <a href="/">discover</a><br>
        <a href="#" id="logout">logout</a><br>
    </section>
<div id="chat-container">
  <div id="user-list">
     <input type="text" id="searchUserInput" class="searchuser message-input">
        <button id="searchUser" type="button">search</button>
  </div>

  <div id="chat">
    <div id="selected-user">Select a user to start chatting</div>
    <div id="messages"></div>
    <input type="text" id="message-input" placeholder="Type a message...">
    <button onclick="sendMessage()">Send</button>
  </div>
</div>
<script src="../../scripts/getUserToken.js"></script>
<script src="../../scripts/messages.js"></script>
