        <div class="loginContainer is-centered loginForm">
      <h1>USER LOGIN </h1>
      <form id="registerForm" action="/register" class="is-centered " method="POST" >
     <p>name: </p>
        <label for="name"></label>
          <input type="text" name="name" id="name" class="input"><br>

        <p>username: </p>
        <label for="username"></label>
          <input type="text" name="username" id="username" class="input"><br>

          <p>email: </p>
        <label for="email"></label>
          <input type="email" name="email" id="email" class="input"><br>

        <p>phoneNumber: </p>
        <label for="phoneNumber"></label>
          <input type="text" name="phoneNumber" id="phoneNumber" class="input"><br>

        <p>date of birth: </p>
        <label for="dateOfBirth"></label>
          <input type="date" name="dateOfBirth" id="dateOfBirth" class="input"><br>

        <p>password: </p>
        <label for="password"></label>
          <input type="password" name="password" id="password" class="input"><br>
        <button type="submit" class="button  is-rounded"> register</button>
        <a href="/login">have a account click this to login</a>

      </form>
      {{{message}}}
    </div>
    <script src="../scripts/register.js"></script>