      <form id="updateForm" class="is-centered " method="PATCH" >
     <p>name: </p>
        <label for="name"></label>
          <input type="text" name="name" id="name" class="input" placeholder="visible name "><br>

        <p>username: </p>
        <label for="username"></label>
          <input type="text" name="username" id="username" class="input" placeholder="username"><br>

          <p>email: </p>
        <label for="email"></label>
          <input type="email" name="email" id="email" class="input" placeholder="email"><br>

        <p>phoneNumber: </p>
        <label for="phoneNumber"></label>
          <input type="text" name="phoneNumber" id="phoneNumber" class="input" placeholder="phone number"><br>

        <p>date of birth: </p>
        <label for="dateOfBirth"></label>
          <input type="date" name="dateOfBirth" id="dateOfBirth" class="input" ><br>

 
        <button type="submit" class="button  is-rounded"> UPDATE INFOS</button>

      </form>