    <div id="wrapper">
        <aside id="sidebar">
            <h2>Sabit İçerik</h2>
            <ul>
                <li><a href="#">users</a></li>
                <li><a href="#">jitters</a></li>
                <li><a href="#">Ayarlar</a></li>
            </ul>
        </aside>
        <main id="content">






            </main>
    </div>