<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="../../css/index.css">
    
    <style>
body {
  width: 100%;
  float: left;
  
}

.followButton{
  float: right;
}

.firstBlanArea
{
  width: 10%;
  float: left;
  height: 100px;
  
}

.userActions
{
  width: 15%;
  float: left;
  height: 100px;
  
}

.tweetAndTimeline
{
  width: 50%;
  float: left;
  height: 100px;
  
}

.suggestedUsers
{
  width: 15%;
  float: left;
  height: 100px;
  
}

.lastBlankArea
{
  width: 10%;
  float: left;
  height: 100px;
  
}
.mainPageHref{
    float: left;
}
.followersTweetHref{
    float: right;
}
    </style>
</head>
<body>
    <!--this is first section to be blank because page partition have to work  -->
    <section class="firstBlanArea"></section>
    <section id="user-actions " class="userActions">
        <a href="/" class="is-medium">main page</a><br>
        <a href="/">discover</a><br>
        <a href="#" id="logout">logout</a><br>
    </section>

    <section id="userProfileSection " class="tweetAndTimeline" >
      <div id="userProfileSection"><!-- user profile infos div !-->
  


      </div>

      <div id="userJitterSection"><!-- user jitters  div !-->




      </div>
      



    </section>

    <section id="suggested-users " class="suggestedUsers" style="margin-left: 30px;">
    </section>
<!-- this is last section to be blank because page partition have to work   -->
    <section class="lastBlankArea"></section>



    <script src="../../scripts/userProfilePage.js"></script>
</body>
</html>
