    <!--this is first section to be blank because page partition have to work  -->
    <section class="firstBlanArea"></section>
    <section id="user-actions " class="userActions">
        <a href="/" class="is-medium">main page</a><br>
        <a href="/">discover</a><br>
        <a href="#" id="logout">logout</a><br>
    </section>

    <section id="userProfileSection " class="tweetAndTimeline" >
      <div id="userProfileSection"><!-- user profile infos div !-->
  


      </div>

      <div id="userJitterSection"><!-- user jitters  div !-->




      </div>
      



    </section>

    <section id="suggested-users " class="suggestedUsers" style="margin-left: 30px;">
    </section>
<!-- this is last section to be blank because page partition have to work   -->
    <section class="lastBlankArea"></section>
    <script src="../../scripts/getUserToken.js"></script>
    <script src="../../scripts/userProfilePage.js"></script>

