<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="../css/index.css">
    
    <style>
body {
  width: 100%;
  float: left;
  
}

.followButton{
  float: right;
}

.firstBlanArea
{
  width: 10%;
  float: left;
  height: 100px;
  
}

.userActions
{
  width: 15%;
  float: left;
  height: 100px;
  
}

.tweetAndTimeline
{
  width: 50%;
  float: left;
  height: 100px;
  
}

.suggestedUsers
{
  width: 15%;
  float: left;
  height: 100px;
  
}

.lastBlankArea
{
  width: 10%;
  float: left;
  height: 100px;
  
}
.mainPageHref{
    float: left;
}
.followersTweetHref{
    float: right;
}
    </style>
</head>
<body>
    <!--this is first section to be blank because page partition have to work  -->
    <section class="firstBlanArea"></section>
    <section id="user-actions " class="userActions">
        <a href="/" class="is-medium">main page</a><br>
        <a href="#">discover</a><br>
        <a href="#" id="userProfile">profile</a><br>
        <a href="#" id="logout">logout</a><br>
    </section>

    <section id="userProfileSection " class="tweetAndTimeline" >
        <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">${jitterData.ownerOfJitterUsername}</p>
            <p>follower count</p>
            <p>followed count</p>
          </div>
        </div>
        <div>
          <button> followed users tweet</button>
          <button> my tweets</button>
          <button> my comments</button>
          <button> rejittered tweets</button>
          <button> liked tweets</button>
          <button> followed users</button>
          <button> follower users</button>

        </div>
    
       

    </div>
      </div>
    
    </div>
    </div><!--card finish there -->
<div id="timeline">

</div>




    </section>

    <section id="suggested-users " class="suggestedUsers" style="margin-left: 30px;">
        <a>suggested users</a>
    </section>
<!-- this is last section to be blank because page partition have to work   -->
    <section class="lastBlankArea"></section>



    <script src="../../scripts/userProfilePage.js"></script>
</body>
</html>
